# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# User-specific files
# =========================
*.user
*.rsuser
*.suo

# =========================
# Logs
# =========================
*.log

# =========================
# IDE settings
# =========================

# VS Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Environment files
# =========================
.env
